* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  font-family: sans-serif;
}
.App {
  text-align: center;
}

.App-header {
  background-color:#e8f4f4;
  height: 35vh;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 2.5em;
  color: #4ba59e;
  margin-bottom: 10px;
}

.title-span {
  color: #6d6e71;
}

.control-component {
  display: flex;
  flex-direction: column;
  align-items: center;
}

input {
  width: 40vw;
  margin: 0 0 20px 0;
  font-size: 22px;
  padding: 5px;
}

input::placeholder {
  color: #cdced0;
}

.submit-btn {
  background-color: #61a39d;
  color: #fff;
}


